@{
    Layout = null;
}
@Html.Partial("DatagridToolBar")
<span id="total" style="display:none">0</span>
<table id="dg_pos" class="" title="" fit="true" fitColumns="true"
       method="post" toolbar="#toolbar" striped="true" rownumbers="true" pagination="true" remoteSort="false">
    <thead>
        <tr>
            <th field="checkbox" checkbox="true"></th>
            <th field="Id" width="0" align="center" hidden="hidden"></th>
            <th field="ParentId" width="0" align="center" sortable="true">父级ID</th>
            <th field="Name" width="10" align="center" sortable="true">职位</th>
            <th field="IsEnable" width="5" align="center" sortable="true">是否启用</th>
            <th field="IsDefault" width="5" align="center" sortable="true">是否预置</th>
            <th field="CreateDate" width="10" align="center" sortable="true">创建日期</th>
            <th field="Comment" width="20" align="center">说明</th>
        </tr>
    </thead>
</table>
@Html.Partial("DialogButton")
<div id="dialog_add" class="easyui-dialog" headerCls="dialog-panel-title" modal="true" buttons="#buttons" style="padding:10px 10px;"
     data-options="closed:true">
    <input id="temp" name="temp" type="hidden" />
    <form id="fm_add" method="post">
        <input id="Id" name="Id" type="hidden" />
        <div id="div-parent" class="user-div">
            <label for="ParentId" style="display:block;font-size:14px">上级职位:</label>
            <input id="ParentId" name="ParentId" data-options="valueField: 'id',textField: 'text'" style="width:300px;height:30px; border-radius:5px;" />
        </div>
        <div class="user-div">
            <label for="Name" style="display:block;font-size:14px">职位:</label>
            <input id="Name" name="Name" class="easyui-textbox" data-options="required:true" style="width:300px;height:30px; border-radius:5px;">
        </div>
        <div id="comment-div" class="user-div">
            <label for="Comment" style="display:block;font-size:14px">说明:</label>
            <input id="Comment" name="Comment" class="easyui-textbox" multiline="true" style="width:300px;height:50px" />
        </div>
        <div id="div-enable" style="display:none">
            <label for="IsEnable" style="font-size:14px;margin-right:10px">是否启用:</label>
            <input id="IsEnable" name="IsEnable" class="easyui-switchbutton" data-options="onText:'启用',offText:'禁用',value:true" style="height:30px">
        </div>
    </form>
</div>
<script>
    $(function () {
        PosViewInit();
    });
</script>
