@*

*@

<table id="dg" class="easyui-datagrid" title="" fit="true" fitColumns="true" 
        method="post" toolbar="#toolbar" striped="true" rownumbers="true" pagination="true" remoteSort="false" pageSize="5" pageList="[5,10,20,30]">
 
</table>
