<div id="buttons">
    <a id="btn-ok" href="javascript:void()" class="easyui-linkbutton" iconCls="icon-ok">确定</a>
    <a id="btn-cancel" href="javascript:void()" class="easyui-linkbutton" iconCls="icon-cancel">取消</a>
</div>
